.preloader {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100vw;
  height: 100vh;
  background-color: var(--foreground);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.numberWrapper {
  overflow: hidden;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  font-family: var(--font-anton), sans-serif;
  font-size: 8rem;
  color: var(--background);
  line-height: 1;
  font-variant-numeric: tabular-nums;
}
