.preloader {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100vw;
  height: 100vh;
  background-color: var(--effect1-color-fg);
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.numberWrapper {
  overflow: hidden;
  height: var(--effect1-sizing-number-wrapper-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  font-family: var(--font-anton), sans-serif;
  font-size: var(--effect1-typo-display-medium);
  color: var(--effect1-color-bg);
  line-height: 1;
  font-variant-numeric: tabular-nums;
}
